@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", serif;
  }
  
  .container {
    margin: 0 auto;
    padding: 10px 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .nav-link {
    list-style: none;
    margin: 20px 0;
    border-bottom: 2px solid white;
    width: 8rem;
  }
  
  /* Navbar */

  .logo{
    max-width: auto;
    max-height: 5em;
    margin: 0%;
  }

  .navbar {
    background: #929292;
    width: 100%;
  }
  
  .flex-nav {
    display: flex;
    flex-direction: column;
  }
  
  .nav-header span {
    color: rgb(248, 104, 104);
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
  }
  
  .nav-links {
    height: 0;
    overflow: hidden;
  }
  
  .nav-open {
    height: 100vh;
  }

  .hero-image-container{
    background-image: url("Photos/Banner.jpg");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 2em;
  }

  .inner-container h1{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    font-size: 54px;
    color: white;
  }

  /* Personalized Section */

  .personalized-container img{
    width: 300px;
  }

  .personalized-content {
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2% 7% 2% 7%;
  }

  .personalized-content h1{
    font-size: 2rem;
  }

  .personalized-content h3{
    font-size: 1.5rem;
    padding-bottom: 15px;
    color: greenyellow;
  }

  .personalized-content p{
    font-size: 1.8rem;
  }

  /* Specialize Section */

  .specialize-section{
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2% 7% 2% 7%;
  }

  .specialize-title p{
    color: #4ef037;
  }

  .fa-solid{
    font-size: 5rem;
    color: #4ef037;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* Coaching Section */
.coaching-section{
    display: flex;
    justify-content: center;
}

.card-section p{
  color: black;
}

.card{
    height: 15em;
    width: 20em;
    margin: 10px;
   text-align: center;
}


/* Coaching Section 2 */

.coaching-section-two{
    display: flex;
    justify-content: center;
}

.card-section p{
  color: black;
}

.card{
    height: 15em;
    width: 20em;
    margin: 10px;
   text-align: center;
}

/* Coaching Section 3 */

.coaching-section-three{
    display: flex;
    justify-content: center;
}

.card-section p{
  color: black;
}

.card{
  height: 15em;
  width: 20em;
  margin: 10px;
  text-align: center;
}

/* Coaching Plan Section */

.coaching-plan-title{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.coaching-plan-image{
    width: 320px;
}

  /* Plans Section */

  .plans{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2% 7% 2% 7%;
  }

  .plans p{
    font-size: 20px;
    line-height: 1.6em;
    margin: 15px;
  }


  .meep {
    border-radius: 50%;
  }

  .carousel-inner{
    border-radius: 50%;
  }

  /* Get Started Section */

  .get-started{
    display: flex;
    text-align: center;
    flex-direction: column;
}

  /* Meet Your Trainers Section */

  .meet-your-trainers{
    text-align: center;
    background-color: #00b7c2;
  }


  /* Media Query */
  
  @media only screen and (min-width: 900px) {
    .nav-toggle {
      display: none;
    }
  
    .nav-header {
      display: block;
    }
  
    .flex-nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
    }
  
    .nav-links {
      height: auto;
    }
  
    ul {
      text-align: center;
    }
  
    .nav-link {
      display: inline-block;
      border-bottom: none;
    }
  
    .nav-links span {
      background: rgb(70, 70, 70);
      padding: 8px 15px;
      border-radius: 4px;
    }
  }